<h1> Your contacts </h1>
<form action='/contacts/create' method='POST'>
	<input type='text' name='contact[email]' /> <br />
	<input type='text' name='contact[message]' /> <br/>
	<input type='submit' />
</form>